

.layout {
  position: absolute;
  display: flex;
  flex-direction: row;
  inset: 0;
  background-color: lightblue;
  overflow: hidden;
  gap: 32px;
  max-height: 100vh;
  max-width: 100vw;
}

@mixin layout-base {
  position: sticky;
  top: 0;
  max-height: 100vh;
  flex-grow: 1;
  flex-basis: 320px;
  display: flex;
  min-width: 320px;
}

.layout__sider {
  &-left {
    @include layout-base;
    justify-content: start;
  }

  &-right {
    @include layout-base;
    justify-content: end;
  }
}

.layout__content {
  max-width: 1024px;
  min-width: 320px;
  max-height: 100vh;
  width: 100%;
  // height: 150vh;
  flex-grow: 2;
}
